<nav class="navbar navbar-dark bg-dark" style="background-color: #e3f2fd;">
  <a routerLink="/rooms" class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover">Rooms</a> |
  <a routerLink="/teachers" class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover">Teachers</a> |
  <a routerLink="/subjects" class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover">Subjects</a> |
  <a routerLink="/classes" class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover">Classes</a> |
  <a routerLink="/sessions" class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover">Sessions</a> |
  <a routerLink="/students" class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover">Students</a>
</nav>
<router-outlet></router-outlet>
